Launch_app {
  height: 5;
  padding: 0;
}

Screen > ModalScreen {
  align: center middle;
#   layer: overlay;
}

Tree_ModelScreen {
    align: center middle;
}

Button_perm_list {
    align: center middle;
}

#selection {
    width: 50%;
    height: 50%;
    border: solid $accent;
    background: $surface;
}

#tree_model {
    width: 70%;
    height: 50%;
    border: thick $background 80%;
    background: $surface;
}